<app-header></app-header>
<router-outlet></router-outlet>
<!--<div class="container1">
  <div class="row">
    <div class="col-md-8 ml-4 z-index-n2 caros">
      <app-carousel [images]="slides"></app-carousel>
    </div>
    <div class="col-md-3 mt-1 carousela ml-4">
      <app-carousel [images]="slides"></app-carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-auto col-md-8 ml-4">
      <div class="card ml-8">
 
        <div class="card-body">
      
          <app-main-content></app-main-content>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-2 ml-4">
      <div class="card card2">
   
        <div class="card-body">
          <div style="height: 35px"></div>
          <a href="#" style="cursor: pointer"
            ><h5>how can we subscribe ?</h5></a
          >
          <a href="#" style="cursor: pointer"> <h5>paymenent issues ?</h5></a>
          <a href="#" style="cursor: pointer"> <h5>paymenent issues ?</h5></a>
          <a href="#" style="cursor: pointer"> <h5>certificates issues?</h5></a>
          <a href="#" style="cursor: pointer"> <h5>Signners issuer</h5></a>
          <a href="#" style="cursor: pointer">
            <h5>i dont find my certificates??</h5></a
          >
          <a href="#" style="cursor: pointer">
            <h5>how to contacte signer</h5></a
          >
          <a href="#" style="cursor: pointer"> <h5>Signners issuer</h5></a>
          <a href="#" style="cursor: pointer">
            <h5>i dont find my certificates??</h5></a
          >
          <a href="#" style="cursor: pointer">
            <h5>how to contacte signer</h5></a
          >
          <a href="#" style="cursor: pointer">
            <h5>i dont find my certificates??</h5></a
          >
          <a href="#" style="cursor: pointer">
            <h5>how to contacte signer</h5></a
          >
          <a href="#" style="cursor: pointer"> <h5>Signners issuer</h5></a>
          <a href="#" class="card-link">Add More</a>
          <a href="#" class="card-link">Share</a>
        </div>
      </div>
    </div>
  </div>
</div>
--->
