<div class="row text-warning">
  <div
    *ngFor="let item of usedItems"
    class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12"
  >
    <app-product-item
      [image]="item.src"
      [title]="item?.title"
      [prix]="item.prix"
    >
    </app-product-item>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <button class="btn btn-light" (click)="nextpage('next')">next</button>
  <button class="btn btn-light px-4">5</button>
  <button class="btn btn-light" (click)="prevpage('prev')">prev</button>
</div>
